/__pycache__
/.venv
/venv
*__pycache__
/logs
/utils
/arquivos
.env
/scratch
*scratch/*

.zip
.rar
.db
/*.zip
*.db
/__pycache__/
.venv/
venv/
/logs/
/arquivos/
/scratch/
.env

*.zip
*.rar
*.db
*.sqlite
/__pycache__/
.venv/
venv/
/logs/
/arquivos/
/scratch/
/utils/
.env

*.zip
*.rar
*.db
*.sqlite
*.xlsx
*.xls